.home {
    width: 100%;
    align-items: center;
    font-family: "Arial", sans-serif;
    color: #4464AD;
  }
  
  .about {
    width: 100%;
    height: calc(110vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #7CAE7A;
    color: #f0f0f0;
  }
  
  .about h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 55px;
    color: #e9d35b;
    height: 50px;
  }
  
  .about .prompt {
    width: 60%;
    font-size: 25px;
  }
  .prompt svg {
    font-size: 50px;
    margin: 5px;
    color: white;
  }
  
  .skills {
    font-size: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .skills h1 {
    color: #4464AD;
    text-decoration: underline;
    margin: 20px 0px 0px 0px;
  }

  .skills h2 {
    margin: 10px 0px 10px 0px;
  }
  
  .skills .list {
    list-style: none;
    width: 60%;
  }
  
  .list span {
    font-size: 25px;
  }

  .pic {
    border-radius: 62%;
    width: 60%;
    height: auto;
  }
  
  @media only screen and (max-width: 775px) {
    .about h2 {
        font-size: 50px;
        margin: 0px 5px 100px 5px;
      }
    
    .pic {
        height: calc(25vh - 90px);
        
    }

    .about .prompt {
      width: 70%;
      font-size: 26px;
    }


  }

  @media only screen and (max-width: 600px) {
    .pic {
        height: calc(13vh - 40px);
    }
    
    .about {
      padding: 10px 0px 10px 0;
      height: calc(48vh - 20px);
    }

    .about h2 {
      font-size: 30px;
      margin: 10px;
    }
  
    .about .prompt {
      margin: 5px;
      font-size: 16px;
      width: 70%;
    }
  
    .skills {
      text-align: center;
    }
    .list {
      padding: 0;
    }
  
    .skills h2 {
      font-size: 30px;
    }

  }
